<div class="text-center">
  <ul class="list-inline text-center">
    <% ['kai', 'boris'].each do |buddy| %>
      <li>
        <%= image_tag "images/#{buddy}.png", class: "img-circle", style: "width: 100px;" %>
        <h3><%= buddy.capitalize %></h3>
      </li>
    <% end %>
  </ul>
  <%= link_to "Meet the team", "team.html", class: "btn btn-primary" %>
</div>

